@font-face {
  font-family: 'Exo2';
  src: url("../fonts/EXO2-Regular.ttf");
}
@font-face {
  font-family: 'Exo2-Bold';
  src: url("../fonts/Exo2-Bold.ttf");
}
@font-face {
  font-family: 'PoorRichard';
  src: url("../fonts/PoorRichard.ttf");
}
@mixin calc($property, $expression) {
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: -moz-calc(#{$expression});
  #{$property}: calc(#{$expression});
}
$font-bold: 'Exo2-Bold';
$font-normal: 'Exo2';

.text-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #a21af0 0%, #ff0072 100%);
}

.text-purpure {
  color: #a21af0;
}

.font-bold {
  font-family: $font-bold;
}
.logo{
  font-family: 'PoorRichard';
  font-size: 36px;


}
a{
  &:hover{
  text-decoration: none;
  }
}
.btn {
  border-radius: 0;
  padding: 20px 30px;
  font-weight: bold;
  transition: 0.5s;

  &:focus {
    box-shadow: none;
  }
}

.btn-gradient {
  background-image: linear-gradient(45deg, #a21af0 0%, #ff0072 100%);
  text-transform: uppercase;
  border: 2px solid #a21af0;
  border-image-source: linear-gradient(45deg,#a21af0, #ff0072);
  border-image-slice: 2;
  color: #fff;
  transition: all 1s;

  span {
    color: #fff;
    -webkit-text-fill-color: none;


  }

  &:hover {
    background: transparent;
    text-decoration: none;


    & span {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(45deg, #a21af0 0%, #ff0072 100%);
    }
  }
}

html {
  min-height: 100%;
}

body {
  font-family: $font-normal;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  display: inline-block;
}

i {
  &.phone {
    height: 90px;
    width: 90px;
    background-color: #374362;
    background-image: url("../images/phone.svg");
    background-size: 45px 45px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    border-radius: 50%;
  }

  &.localization {
    height: 90px;
    width: 90px;
    background-color: #374362;
    background-image: url("../images/location.svg");
    background-size: 45px 45px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    border-radius: 50%;
  }

  &.mail {
    height: 90px;
    width: 90px;
    background-color: #374362;
    background-image: url("../images/mail.svg");
    background-size: 45px 45px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    border-radius: 50%;
  }

  &.edit {
    height: 25px;
    width: 25px;
    background-image: url("../images/edit.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    display: inline-block;

    &:hover {
      opacity: 1;
    }
  }

  &.delete {
    height: 25px;
    width: 25px;
    background-image: url("../images/delete.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    display: inline-block;

    &:hover {
      opacity: 1;
    }
  }
  &.add{
    height: 16px;
    width: 16px;
    background-image: url("../images/add.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
  }
}

.error-message {
  color: red;
}

.page-section {
  padding-top: 80px;
  padding-bottom: 80px;

  h3.section-title {
    text-align: center;
    text-transform: uppercase;
    font-family: $font-bold;
    font-size: 38px;
    margin-bottom: 40px;
  }
}

.navbar {
  background: #15263e;
  height: 100px;

  .navbar-nav {
    width: 100%;

    .nav-item {
      color: #fff;
      text-transform: uppercase;
      font-size: 18px;
      font-family: $font-normal;
      font-weight: bold;

      .nav-link {
        color: #fff;
        text-transform: uppercase;
        font-size: 18px;
        font-family: $font-normal;
        font-weight: bold;
        text-align: center;
        position: relative;
        padding-bottom: 3px;

        &.active,
        &:hover {
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-image: linear-gradient(45deg, #a21af0 0%, #ff0072 100%);
        }
      }
    }
  }
}

header {
  height: 100vh;
  background: rgba(35, 45, 80, 0.5) url("../images/header-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .header-content {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;

    h1 {
      font-family: $font-bold;
      text-align: center;
      font-size: 90px;

      span:first-of-type {
        letter-spacing: 30px;
        font-size: 150px;
        line-height: 0.8;
      }

      span:last-of-type {
        letter-spacing: 15px;
      }
    }

    a {
      color: #fff !important;
    }
  }
}

.about-section {
  h2 {
    font-size: 50px;
    font-family: $font-bold;
    color: rgb(21, 38, 62);
    text-transform: uppercase;
  }

  p {
    font-size: 15px;
    color: rgb(73, 73, 73);
    line-height: 2;
    margin-bottom: 0;
  }

  .col-md-3,
  .col-md-4 {
    padding-bottom: 80px;
    padding-top: 80px;
  }

  .skills {
    width: 100%;

    .skill {
      width: 100%;
      margin-top: 30px;

      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        margin-bottom: 10px;
      }

      p {
        font-family: $font-bold;
        text-transform: uppercase;
        font-size: 18px;
        color: rgb(77, 77, 77);
      }

      .graph {
        width: 100%;
        height: 10px;
        border-radius: 5px;
        background-image: linear-gradient(45deg, #a21af0 0%, #a21af0 48%, #ff0072 52%, #ff0072 100%);
      }
    }
  }
}

.contact-section {
  background: #dcdcde;
  color: rgb(77, 77, 77);
  font-size: 18px;

  .col-lg-4 {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  h5 {
    font-weight: bold;
    text-transform: uppercase;
  }
}

.portfolio-section {
  .portfolio-items {
    margin-top: 50px;

    .portfolio-item {
      min-height: 200px;
      transition: 0.3s;

      &:hover {
        opacity: 0.5;
      }

      img {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
        margin-bottom: 15px;
        margin-top: 15px;
      }
    }
  }
}

.comments {
  background: url("../images/comments-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: right;

  .slider {
    position: relative;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;

    .comment-item {
      padding-top: 20px;
      padding-bottom: 20px;
      float: right;

      h4 {
        font-size: 25px;
        font-family: $font-bold;
        text-transform: uppercase;
        line-height: 1.2;

        & + span {
          font-size: 15px;
          font-family: $font-bold;
          color: rgb(199, 20, 213);
        }
      }

      img {
        border-radius: 50%;
        border: 5px solid #fff;
        background: #fff;
        height: 150px;
        width: 150px;
        object-position: center;;
        object-fit: contain;;
      }

      .quotation {
        margin: 30px;
        position: relative;

        &:before {
          content: open-quote;
          position: absolute;
          top: -60px;
          left: -30px;
          font-size: 50px;
          font-family: $font-bold;
        }

        &:after {
          content: close-quote;
          position: absolute;
          right: -30px;
          bottom: -70px;
          font-size: 50px;
          font-family: $font-bold;
        }
      }
    }
  }
}

.blog-section {
  .short-blog-text {
    margin-top: 50px;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
      opacity: 0.5;
    }

    img {
      height: 300px;
      object-fit: cover;
      object-position: center;
    }

    .blog-category {
      display: inline-block;
      font-size: 15px;
      font-family: $font-bold;
      color: rgb(146, 146, 146);
      text-transform: uppercase;
      margin-top: 15px;
    }

    h5 {
      font-size: 20px;
      font-family: $font-bold;
      color: rgb(21, 38, 62);
      margin-top: 10px;
      margin-bottom: 10px;
    }

    div {
      font-size: 15px;
      color: rgb(73, 73, 73);
      line-height: 2;
    }
  }
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  background: #15263e;
}

.loginForm {
  min-height: 100vh;
}

.blog-article, .blog-articles-list {
  margin-top: 150px;
  margin-bottom: 50px;

  h1 {
    font-family: $font-bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(45deg, #a21af0 0%, #ff0072 100%);
  }

  .subtitle {
    color: rgb(146, 146, 146);
    text-transform: uppercase;
    font-size: 16px;
  }
}

.admin-section {
  .admin-header {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    background: #f1f1f1f1;
    margin-bottom: 20px;

    a {
      margin-right: 15px;
      display: inline-block;
    }
  }
}

th {
  text-align: center;
}

.actionCell {
  width: 80px;
  text-align: center;
}
.success-info{
  background: green;
  color: white;
  font-size: 20px;
  text-align: center;
  transform: translate(100%);
  transition: 0.3s ;

  &.visible{
    transform: translate(0);

  }
}
.error-info{
  background: red;
  color: white;
  font-size: 20px;
  text-align: center;
  transform: translate(100%);
  transition: 0.3s ;

  &.visible{
    transform: translate(0);

  }
}
.form-control{
  margin-bottom: 10px;
}

.error{
  color: red;
  margin-bottom: 15px;
  margin-top: -5px;
}
#editor + .error{
  margin-top: 5px;

}
@media screen and (max-width: 1199px) {
  .about-section {
    .col-lg-4 {
      order: 1;
    }

    .col-lg-3 {
      order: 2;
    }

    .col-lg-5 {
      order: 3;
    }
  }
}
@media screen and (max-width: 991px) {
  header {
    .navbar {
      height: auto;

      .nav-link.nav-item {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  header {
    .header-content {
      h1 {
        font-size: 50px;

        span:first-of-type {
          letter-spacing: 18px;
          font-size: 80px;
          line-height: 0.8;
        }

        span:last-of-type {
          letter-spacing: 10px;
        }
      }

      h4 {
        font-size: 15px;
      }
    }
  }

  .contact-section {
    font-size: 15px;
  }
}
