@font-face {
  font-family: 'Exo2';
  src: url("../fonts/EXO2-Regular.ttf"); }
@font-face {
  font-family: 'Exo2-Bold';
  src: url("../fonts/Exo2-Bold.ttf"); }
@font-face {
  font-family: 'PoorRichard';
  src: url("../fonts/PoorRichard.ttf"); }
.text-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #a21af0 0%, #ff0072 100%); }

.text-purpure {
  color: #a21af0; }

.font-bold {
  font-family: "Exo2-Bold"; }

.logo {
  font-family: 'PoorRichard';
  font-size: 36px; }

a:hover {
  text-decoration: none; }

.btn {
  border-radius: 0;
  padding: 20px 30px;
  font-weight: bold;
  transition: 0.5s; }
  .btn:focus {
    box-shadow: none; }

.btn-gradient {
  background-image: linear-gradient(45deg, #a21af0 0%, #ff0072 100%);
  text-transform: uppercase;
  border: 2px solid #a21af0;
  border-image-source: linear-gradient(45deg, #a21af0, #ff0072);
  border-image-slice: 2;
  color: #fff;
  transition: all 1s; }
  .btn-gradient span {
    color: #fff;
    -webkit-text-fill-color: none; }
  .btn-gradient:hover {
    background: transparent;
    text-decoration: none; }
    .btn-gradient:hover span {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(45deg, #a21af0 0%, #ff0072 100%); }

html {
  min-height: 100%; }

body {
  font-family: "Exo2";
  min-height: 100vh;
  overflow-x: hidden; }

a {
  display: inline-block; }

i.phone {
  height: 90px;
  width: 90px;
  background-color: #374362;
  background-image: url("../images/phone.svg");
  background-size: 45px 45px;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  border-radius: 50%; }
i.localization {
  height: 90px;
  width: 90px;
  background-color: #374362;
  background-image: url("../images/location.svg");
  background-size: 45px 45px;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  border-radius: 50%; }
i.mail {
  height: 90px;
  width: 90px;
  background-color: #374362;
  background-image: url("../images/mail.svg");
  background-size: 45px 45px;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  border-radius: 50%; }
i.edit {
  height: 25px;
  width: 25px;
  background-image: url("../images/edit.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  display: inline-block; }
  i.edit:hover {
    opacity: 1; }
i.delete {
  height: 25px;
  width: 25px;
  background-image: url("../images/delete.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  display: inline-block; }
  i.delete:hover {
    opacity: 1; }
i.add {
  height: 16px;
  width: 16px;
  background-image: url("../images/add.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block; }

.error-message {
  color: red; }

.page-section {
  padding-top: 80px;
  padding-bottom: 80px; }
  .page-section h3.section-title {
    text-align: center;
    text-transform: uppercase;
    font-family: "Exo2-Bold";
    font-size: 38px;
    margin-bottom: 40px; }

.navbar {
  background: #15263e;
  height: 100px; }
  .navbar .navbar-nav {
    width: 100%; }
    .navbar .navbar-nav .nav-item {
      color: #fff;
      text-transform: uppercase;
      font-size: 18px;
      font-family: "Exo2";
      font-weight: bold; }
      .navbar .navbar-nav .nav-item .nav-link {
        color: #fff;
        text-transform: uppercase;
        font-size: 18px;
        font-family: "Exo2";
        font-weight: bold;
        text-align: center;
        position: relative;
        padding-bottom: 3px; }
        .navbar .navbar-nav .nav-item .nav-link.active, .navbar .navbar-nav .nav-item .nav-link:hover {
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-image: linear-gradient(45deg, #a21af0 0%, #ff0072 100%); }

header {
  height: 100vh;
  background: rgba(35, 45, 80, 0.5) url("../images/header-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  header .header-content {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold; }
    header .header-content h1 {
      font-family: "Exo2-Bold";
      text-align: center;
      font-size: 90px; }
      header .header-content h1 span:first-of-type {
        letter-spacing: 30px;
        font-size: 150px;
        line-height: 0.8; }
      header .header-content h1 span:last-of-type {
        letter-spacing: 15px; }
    header .header-content a {
      color: #fff !important; }

.about-section h2 {
  font-size: 50px;
  font-family: "Exo2-Bold";
  color: #15263e;
  text-transform: uppercase; }
.about-section p {
  font-size: 15px;
  color: #494949;
  line-height: 2;
  margin-bottom: 0; }
.about-section .col-md-3,
.about-section .col-md-4 {
  padding-bottom: 80px;
  padding-top: 80px; }
.about-section .skills {
  width: 100%; }
  .about-section .skills .skill {
    width: 100%;
    margin-top: 30px; }
    .about-section .skills .skill:first-of-type {
      margin-top: 0; }
    .about-section .skills .skill:last-of-type {
      margin-bottom: 10px; }
    .about-section .skills .skill p {
      font-family: "Exo2-Bold";
      text-transform: uppercase;
      font-size: 18px;
      color: #4d4d4d; }
    .about-section .skills .skill .graph {
      width: 100%;
      height: 10px;
      border-radius: 5px;
      background-image: linear-gradient(45deg, #a21af0 0%, #a21af0 48%, #ff0072 52%, #ff0072 100%); }

.contact-section {
  background: #dcdcde;
  color: #4d4d4d;
  font-size: 18px; }
  .contact-section .col-lg-4 {
    margin-bottom: 10px;
    margin-top: 10px; }
  .contact-section h5 {
    font-weight: bold;
    text-transform: uppercase; }

.portfolio-section .portfolio-items {
  margin-top: 50px; }
  .portfolio-section .portfolio-items .portfolio-item {
    min-height: 200px;
    transition: 0.3s; }
    .portfolio-section .portfolio-items .portfolio-item:hover {
      opacity: 0.5; }
    .portfolio-section .portfolio-items .portfolio-item img {
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      margin-bottom: 15px;
      margin-top: 15px; }

.comments {
  background: url("../images/comments-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: right; }
  .comments .slider {
    position: relative;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center; }
    .comments .slider .comment-item {
      padding-top: 20px;
      padding-bottom: 20px;
      float: right; }
      .comments .slider .comment-item h4 {
        font-size: 25px;
        font-family: "Exo2-Bold";
        text-transform: uppercase;
        line-height: 1.2; }
        .comments .slider .comment-item h4 + span {
          font-size: 15px;
          font-family: "Exo2-Bold";
          color: #c714d5; }
      .comments .slider .comment-item img {
        border-radius: 50%;
        border: 5px solid #fff;
        background: #fff;
        height: 150px;
        width: 150px;
        object-position: center;
        object-fit: contain; }
      .comments .slider .comment-item .quotation {
        margin: 30px;
        position: relative; }
        .comments .slider .comment-item .quotation:before {
          content: open-quote;
          position: absolute;
          top: -60px;
          left: -30px;
          font-size: 50px;
          font-family: "Exo2-Bold"; }
        .comments .slider .comment-item .quotation:after {
          content: close-quote;
          position: absolute;
          right: -30px;
          bottom: -70px;
          font-size: 50px;
          font-family: "Exo2-Bold"; }

.blog-section .short-blog-text {
  margin-top: 50px;
  text-decoration: none;
  transition: 0.3s; }
  .blog-section .short-blog-text:hover {
    opacity: 0.5; }
  .blog-section .short-blog-text img {
    height: 300px;
    object-fit: cover;
    object-position: center; }
  .blog-section .short-blog-text .blog-category {
    display: inline-block;
    font-size: 15px;
    font-family: "Exo2-Bold";
    color: #929292;
    text-transform: uppercase;
    margin-top: 15px; }
  .blog-section .short-blog-text h5 {
    font-size: 20px;
    font-family: "Exo2-Bold";
    color: #15263e;
    margin-top: 10px;
    margin-bottom: 10px; }
  .blog-section .short-blog-text div {
    font-size: 15px;
    color: #494949;
    line-height: 2; }

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  background: #15263e; }

.loginForm {
  min-height: 100vh; }

.blog-article, .blog-articles-list {
  margin-top: 150px;
  margin-bottom: 50px; }
  .blog-article h1, .blog-articles-list h1 {
    font-family: "Exo2-Bold";
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(45deg, #a21af0 0%, #ff0072 100%); }
  .blog-article .subtitle, .blog-articles-list .subtitle {
    color: #929292;
    text-transform: uppercase;
    font-size: 16px; }

.admin-section .admin-header {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  background: #f1f1f1f1;
  margin-bottom: 20px; }
  .admin-section .admin-header a {
    margin-right: 15px;
    display: inline-block; }

th {
  text-align: center; }

.actionCell {
  width: 80px;
  text-align: center; }

.success-info {
  background: green;
  color: white;
  font-size: 20px;
  text-align: center;
  transform: translate(100%);
  transition: 0.3s; }
  .success-info.visible {
    transform: translate(0); }

.error-info {
  background: red;
  color: white;
  font-size: 20px;
  text-align: center;
  transform: translate(100%);
  transition: 0.3s; }
  .error-info.visible {
    transform: translate(0); }

.form-control {
  margin-bottom: 10px; }

.error {
  color: red;
  margin-bottom: 15px;
  margin-top: -5px; }

#editor + .error {
  margin-top: 5px; }

@media screen and (max-width: 1199px) {
  .about-section .col-lg-4 {
    order: 1; }
  .about-section .col-lg-3 {
    order: 2; }
  .about-section .col-lg-5 {
    order: 3; } }
@media screen and (max-width: 991px) {
  header .navbar {
    height: auto; }
    header .navbar .nav-link.nav-item {
      display: none; } }
@media screen and (max-width: 767px) {
  header .header-content h1 {
    font-size: 50px; }
    header .header-content h1 span:first-of-type {
      letter-spacing: 18px;
      font-size: 80px;
      line-height: 0.8; }
    header .header-content h1 span:last-of-type {
      letter-spacing: 10px; }
  header .header-content h4 {
    font-size: 15px; }

  .contact-section {
    font-size: 15px; } }

/*# sourceMappingURL=style.css.map */
